<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/site.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{> header}}
        <div class="text-center">
            <h1 class="display-4">Welcome
                {{#if sessionName}}
                    back, {{sessionName}}!
                {{/if}}
            </h1>
            <p>Let's study building Web apps with NodeJS & ExpressJS.</p>
        </div>
        <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/js/site.js"></script>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        {{> footer}}
    </body>
</html>