<br />

<h2>Login</h2>

<form method="POST" action="/login">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="username" id="username">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="password" id="password">
        </div>
    </div>

    {{#if userCreated}}
        <div class='alert alert-success alert-dismissible fade show' role='alert'>
            <strong>Account created successfully.</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    {{/if}}

    {{#if loginErr}}
        <div class='alert alert-warning alert-dismissible fade show' role='alert'>
            <strong>Username or password is incorrect.</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    {{/if}}

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/products" role="button">Cancel</a>
        </div>
    </div>
</form>